<div class="container-fluid">
    <h1>Create a Water Purity Report</h1>
    <hr>
    <div class="row">
        <!-- edit form column -->
        <div class="col-md-8 personal-info media-left">
            <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)" dismiss-on-timeout=2000>{{alert.msg}}</div>
            <h3>Water Source Details</h3>
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-lg-3 control-label">Latitude:</label>
                    <div class="col-lg-8">
                        <input class="form-control" ng-model="newReport.latitude" ng-change="changeLatLng()">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Longitude:</label>
                    <div class="col-lg-8">
                        <input class="form-control" ng-model="newReport.longitude" ng-change="changeLatLng()">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Overall Condition: </label>
                    <div class="col-lg-8 ui-select">
                        <select ng-model="newReport.overallCondition" class="form-control">
                            <option value={{condition}} ng-repeat="condition in overallConditions"><a>{{condition}}</a></option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Virus PPM:</label>
                    <div class="col-lg-8">
                        <input class="form-control" ng-model="newReport.virusPPM" ng-change="changeLatLng()">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Contaminant PPM:</label>
                    <div class="col-lg-8">
                        <input class="form-control" ng-model="newReport.contaminantPPM" ng-change="changeLatLng()">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-8">
                        <input type="button" class="btn btn-primary" ng-click="save()" value="Create Report">
                        <span></span>
                        <input type="button" class="btn btn-default" ng-click="back()" value="Back">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <div id="map"></div>
        </div>
    </div>
</div>
