<h1>Welcome {{user.fullName}}</h1>
<div class="col-md-6 col-md-offset-3">
    <button type="button" ng-hide="!canViewWaterSources()" ng-click="viewWaterSources()" class="btn btn-primary btn-block">View Water Source Reports</button>
    <button type="button" ng-hide="!canSubmitWaterSources()" ng-click="submitWaterSourceReport()" class="btn btn-default btn-block">Submit Water Source Report</button>
    <button type="button" ng-hide="!canSubmitWaterQuality()" ng-click="submitWaterQualityReport()" class="btn btn-default btn-block">Submit Water Quality Report</button>
    <button type="button" ng-hide="!canViewSecurityLog()" ng-click="viewSecurityLog()" class="btn btn-default btn-block">View Security Log</button>
    <button type="button" ng-hide="!canBlockUser()" ng-click="unblockUser()" class="btn btn-default btn-block">Unblock a User</button>

    <button type="button" ng-click="editProfileClick()" class="btn btn-default btn-block">Edit Profile</button>
    <button type="button" ng-click="logout()" class="btn btn-danger btn-block">Logout</button>
</div>
